h1{
	padding: 0px;
	margin: 0px;
}
section .container{
	margin: auto;
	width: 50%;
}
section .header{
	background: black;
	width: 100%;
	height: 40px;
	margin: auto;
	overflow: auto;
}
section .arrow{
	width: 100%;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	overflow: auto;
}
section .arrow h1{
	font-family: calibri;
	font-size: 40px;
	text-align: center;
	color: black;
	cursor: pointer;
}
section .arrow h1:hover{
	color: red;
}
section .rev{
	float: left;
	width: 50%;
	margin-left: 20px;
	padding: 3px 3px 3px 3px;
}
section .rev h1{
	font-family: calibri;
	color: green;
}
section .footer{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	background-color: black;
	overflow: auto;
	height: 40px;
}
section .form{
	margin-top: 20px;
	display: none;
}
section .form h1{
	font-family: calibri;
	font-size: 30px;
	text-align: center;
}

section .form ul{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
section .form li{
	list-style-type: none;
	font-size: 25px;
	font-family: calibri;
}
section .submit{
	width: 15%;
	float: right;
	background: black;
	margin-bottom: 20px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

section .submit h1{
	font-size: 30px;
	color: white;
	font-family: calibri;
}
section .submit:hover{
	opacity: 0.9;
}
section .res{
	width: 50%;
	float: left;
	margin: 20px 0px 20px 0px;
	font-family: calibri;
	font-size: 45px;
	display: none;
}
section .key{
	width: 25%;
	float: right;
	font-family: calibri;
	font-size: 15px;
	text-align: right;
	display: none;
}
section .key a{
	color: black;
}
section .key a:hover{
	color: red;
}
@media only screen and (max-width: 1250px){
section .submit h1{
	font-size: 20px;
}
section .res{
	font-size: 25px;
}
}

@media only screen and (max-width: 800px){
	
section .submit h1{
	font-size: 13px;
}
}


@media only screen and (max-width: 650px){
section .form h1{
	font-size: 20px;
}

section .form li{
	font-size: 15px;	
}
section .submit h1{
	font-size: 10px;	
}
section .header{
	height: 20px
}
section .rev h1{
	display: none;
}
section .footer{
	height: 20px;
}
section .res{
	font-size: 20px;
}
section .container{
	width: 85%;
}
}


@media only screen and (max-width: 390px){
section .form h1{
	font-size: 13px;
}
section .form li{
	font-size: 13px;	
}
section .submit h1{
	font-size: 7px;	
}
section .res{
	font-size: 10px;
}
section .key{
	font-size: 8px;
}
section .container{
	width: 100%;
}
}
